a{text-decoration: none;}
a:link, a:visited
{
	color: #551B8C;
}
a:hover, a:active
{
	color: #CF5C3F;
}
h2{text-align:; line-height: 28px;}
h5{text-align:;font-style: italic;color: #999; margin-top: 0%;margin-bottom: 2%; line-height: 10px;}
.navContent p{line-height: 24px;}
strong{font-size: 110%;}
body
{
	background: #EDEDED;
	color:#000305; 
	/*font-size:87.5%;*/ /* Base font size is 14px*/
	font-size: 125%;
	font-family:Myriad Pro, Arial;
	line-height: 1.5;
	text-align: left;
}

.body
{
	margin:0 auto;
	width: 72%;
	clear: both; /*?*/
}
.mainheader
{
	position: relative;
	width:100%;
	float: left;
	margin-bottom: 14%;
}

.mainheader .slides
{
	position: relative;
	/*float: left;*/
	width: 100%;
	margin-bottom: 5%;
}

.mainheader .slidesBtn
{
	position: absolute;
	right: -17%;
	/*bottom: 13px;*/
	bottom: -20%;
	z-index: 3000;
}

.mainheader .slidesBtn li
{
	list-style: none;
	width: 50px;
	height: 10px;
	background: #FDFDFD;
	opacity: 0.5;
	filter: alpha(opacity=50);
	float: left;
	margin-right: 6px;
}

.mainheader .slidesTxt
{
	position: absolute;
	/*left:-15%;*/
	left:-30px;
	bottom:-15%;
	z-index: 10000;
	float:left;
}
.sliTxtCon
{
	display: none;
	font-size: 330%;
	font-weight: 900px;
	/*font-variant:small-caps;*/
	color: white;
}
.sliTxtCon span
{	
	line-height: 10px;
}

.mainheader img
{
	position: absolute;
	left: -20%;
	top:-7%;
	margin: 0% 0 1% 0;
	width: 140%;
	box-shadow: 0px 0px 6px 0px #C3C3C3;
}

.mainheader nav
{
	position: relative;
	float: left;
	height:40px;
	margin-top: 10%;
	margin-bottom: 0%;
	width: 100%;

}

.mainheader nav .navUl
{	
	width: 80%;
	height: 80px;
	list-style: none;
	margin: 0 auto 0 2px; /*?*/
	margin-left: 17%;
	text-align: center;


}

.mainheader nav ul li
{
	float:left;
	text-align: center;
	
	/*margin: 0 auto;*/
	/*display: inline;*/

}
.mainheader nav a
{
	box-shadow: 0px 0px 25px #fff;
}

.mainheader nav a:link, .mainheader nav a:visited/*用a把li撑起来，li大小取决于a*/
{
	/*margin: 0 auto;*/
	/*background: #666;*/
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	color:#FFF;
	display: inline-block;
	height:0px;
	/*line-height: 30px;*/
	/* -webkit-transition: background 0.5s linear 0s, color 0.5s linear 0s;*/
	/*box-shadow: 0px 0px 15px -4px #EA4040;*/
	box-shadow: 0px 0px 10px 5px white;

	/*texture background*/
	background-color: #269;
	background-image:
	repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;

}
.mainheader nav a span
{
	
}
.mainheader nav a:hover, .mainheader nav a:active
{
	box-shadow: 0px 0px 15px -2px yellow;
	/*background-color: #CF5C3F;*/
	/*background-color: #338CC7;*/
}
.navContent
{
	margin-top: 14%;
	overflow: hidden;
	line-height: 25px;
	position: relative;
	float: left;
	width: 110%;
	left: -5%;
	/*height:800px;*/
	/*background-color: #fff;*/
	/*background-color:#FDFDFD;*/
	z-index: 0;
	font-size:100%;
	box-shadow: 0px 0px 25px #DFDFDF;
	border-radius: 5px;

	/*background*/
	background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}
.navContent img
{
	float:left;
	display: inline-block;
}
.navContent .navBlock
{
	position: absolute;
	left: 0;
	top: 0;
	/*background: #fff;*/
	display: none;
	/*padding: 5%;*/
	/*margin-top: 2%;*/
	width: 100%;
	float: left;
}
.navContent .cross
{
	opacity: 0.5;
	filter:alpha(opacity:50);
	position: absolute;
	bottom: 3%;
	left:48%;
	z-index: 1000;
}
.navContent .navBlock div
{
	opacity: 0;
	filter:alpha(opacity:0);
	padding: 8%;
}

/*   mainContent   */
.mainContent
{
	width: 100%;
	position: relative;
	float: left;
	/*background: white;*/
	/*padding: 0 5% 5% 5%;*/
	/*margin: 2% 0 0 0;*/
	letter-spacing: 1px;
	line-height: 1.8;
	text-align: center;
	margin-top: 3%;
	/*background-color: yellow;*/

}
.mainContent .my_gallary
{
	margin-top:6%;
	/*border: 5px solid red;	*/
}
.mainContent .my_gallary .gallaryBlock
{
	width: 140%;
	left: -20%;
	position: relative;
	float:left;
	margin-bottom: 5%;
	overflow: hidden;
	/*background: green;*/
	/*border: 2px solid black;*/
	/*margin-bottom: 5px;*/
}

.mainContent .imgLeft
{
	position: relative;
	width: 65%;
	float: left;
	box-shadow: 0px 0px 10px 0px gray;
}
.mainContent .imgRight
{
	position: relative;
	width: 65%;
	float: right;
	box-shadow: 0px 0px 10px 1px gray;
}
.gallaryTextDiv_right
{
	position: relative;
	width: 30%;
	z-index: 100;
	float: right;
	padding: 0 2%;
	margin-top: 7%;
}
.gallaryTextDiv_left
{
	position: relative;
	width: 30%;
	z-index: 100;
	float: left;
	padding: 0 2%;
	margin-top: 7%;	
}

.mainfooter
{
	position: relative;
	width: 140%;
	left: -20%;
	height: 40%;
	float:left;
	background-color: #666;
	margin-top: 2%;
	text-align: center;
	box-shadow: 0px 0px 10px 0px gray;
}

.mainfooter .PortraitDiv
{
	border-radius: 50px;
	overflow: hidden;
	width: 100px;
	height: 100px;
	margin: 2% auto 1% auto;
	background-position: center;
	background-image: url('.././My Profile/Portrait.jpg');
	background-size: 106px;
	box-shadow: 0px 0px 10px 6px #5A5A5A;
}

.mainfooter .Portrait
{
	
}

.mainfooter p
{
	width: 92%;
	margin: 10px auto;
	color: #fff;
}

.mainfooter a
{
	position: relative;
	color: #fff;
}

.mainfooter a:hover
{
	color:yellow;
}


